@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter',sans-serif;
  background-color: theme('colors.grand.cream');
  color:theme('colors.grand.slate');
  min-height: 100vh;
} 


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}


